@model AlquilerCanchas.Models.Reserva

@{
    ViewData["Title"] = "Crear Reserva";
}

<h3>Crear reserva</h3>



<div class="row">
    <div class="col-md-4">
        <form asp-controller="Reservas" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label"></label><br>
                <input type="hidden" asp-for="CanchaId" />
            </div>


            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="form-control" value="" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Turno.Descripcion" class="control-label"></label>
                <select asp-for="TurnoId" class="form-control" asp-items="ViewBag.TurnoId"></select>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>



        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Volver al inicio</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
